{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Font+Name&display=swap" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  

</head>
<body class="bg-gradient-to-r from-black via-gray-900 to-black text-white overflow-hidden">
   
    <div class="flex">
        <nav class="w-3/9 flex flex-col justify-center items-start px-6 py-6 ml-5 font-thin h-screen relative z-10">
                
            <div class="nav-logo text-white text-2xl">
                <a href="{% url 'baseView' %}"><strong>AD</strong> | Portfolio</a>
            </div>
        
            <div class="nav-options text-white bg-white-100 mt-4">
                <a href="{% url 'baseView' %}" class="block py-2 px-2 transition duration-400 ease-in-out delay-70 hover:bg-gradient-to-r from-transparent to-white hover:bg-white hover:text-black active:bg-gray-500 focus:bg-white focus:text-black">Home</a>
                <a href="{% url 'about' %}" class="block py-2 px-2 transition duration-400 ease-in-out delay-70 hover:bg-gradient-to-r from-transparent to-white hover:bg-white hover:text-black active:bg-gray-500 focus:bg-white focus:text-black">About</a>
                <a href="{% url 'history' %}"  class="block py-2 px-2 bg-white text-black">History</a>
                <a href="{% url 'contacts' %}" class="block py-2 px-2 transition duration-400 ease-in-out delay-70 hover:bg-gradient-to-r from-transparent to-white hover:bg-white hover:text-black active:bg-gray-500 focus:bg-white focus:text-black">Contacts</a>
            </div>
        </nav>

       <div id="content-section" class="space-x-10 pt-24">
            <h1 class="inline-block text-white font-jost border-b text-4xl ml-52 pt-20">Education</h1>
            <ul class="block text-lg text-white font-semibold pl-44 pt-5">
                <li>May 2017 - May 2019 <br>
                    <div class="border-l border-white p-2 ml-10">
                        <span class="font-semibold text-lg text-white"> APEC Schools(Senior High School)<br></span>
                        <span class="font-thin text-base text-white">ABM (Accountancy, Business, and Management)</span>
                    </div></li>
            </ul>

            <ul class="block text-lg text-white font-semibold pl-44 pt-5">
                <li>Oct 2020 - Oct 2023 <br>
                    <div class="border-l border-white p-2 ml-10">
                        <span class="font-semibold text-lg text-white"> Polytechnic University of the Philippines<br></span>
                        <span class="font-thin text-base text-white">Bachelor of Science in Information Technology<br></span>
                        <span class="font-thin text-base text-white">Completed 107 units</span></div>
                </li>
            </ul>

            <div class="space-x-6 pt-32 pl-44">
                <div class="inline-block text-white text-xl mt-8 relative"><a href="/static/resumeAllen.docx" download class="border border-white py-2 px-2 transition duration-600 ease-in-out delay-120 hover:bg-gradient-to-r from-transparent to-white hover:bg-white hover:text-black active:bg-gray-500 focus:bg-white focus:text-black relative">Download CV<span class="animate-ping absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-white rounded-full w-2 h-2"></span></a></div>
                <div class="inline-block text-white text-xl relative"><a href="{% url 'contacts' %}" class="border border-white py-2 px-2 transition duration-600 ease-in-out delay-120 hover:bg-gradient-to-r from-transparent to-white hover:bg-white hover:text-black active:bg-gray-500 focus:bg-white focus:text-black relative">Contact Me<span class="animate-ping absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-white rounded-full w-2 h-2"></span></a></div>
            </div>

       </div>    

       <div id="content-section" class="space-x-10 pt-24 ml-16">
        <h1 class="inline-block text-white font-jost border-b text-4xl ml-52 pt-20">Work Experience</h1>
        <ul class="block text-lg text-white font-semibold pl-44 pt-5">
            <li>Dec 2019 - Nov 2020 <br>
                <div class="border-l border-white p-2 ml-10">
                    <span class="font-semibold text-lg text-white"> Magellan Solutions<br></span>
                    <span class="font-thin text-base text-white">PB Mezzanine Summit One Tower, 530 Shaw Blvd, Mandaluyong, 1552 Metro Manila<br></span>
                    <span class="font-thin text-base text-white">Chat/Email Support</span>

                </div>
            </li>
        </ul>

        <ul class="block text-lg text-white font-semibold pl-44 pt-5">
            <li>Nov 2020 - May 2023 <br>
                <div class="border-l border-white p-2 ml-10">
                    <span class="font-semibold text-lg text-white"> AFNI Philippines<br></span>
                    <span class="font-thin text-base text-white">6 Emilio Jacinto, Batasan Hills, Quezon City, 1126 Metro Manila, Philippines<br></span>
                    <span class="font-thin text-base text-white">SME - Insurance Service Representative</span>
                </div></li>
        </ul>
        </div>    


</div> 
<footer class="fixed bottom-0 left-0 right-0 px-6 py-6 text-white text-xl text-center">
    <div class="flex items-center justify-center space-x-7">
      <div><a href="https://www.facebook.com/httpsLenn/" target="_blank"><img src="/static/images/fbIconn.png" alt="Facebook" class="w-10 h-10 transform hover:scale-125"></a></div>
      <div><a href="https://discord.com/users/SeyntTropey#1298" target="_blank" ><img src="/static/images/discIconn.png" alt="Discord" class="w-10 h-10 transform hover:scale-125"></a></div>
      <div><a href="emailto:Allendalebona@gmail.com"><img src="/static/images/gmailIconn.png" alt="Gmail"  class="w-10 h-10 transform hover:scale-125"></a></div>
    </div>
</footer>
      
    
</body>
</html>